@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html, body, #root{
    @apply font-[Raleway] h-screen w-full;
  }
  .navbar {
    @apply  fixed w-full h-[80px] flex justify-between items-center px-4 bg-[#293241] dark:bg-black text-[#E0FBFC];
  }
  .navbar-link{
    @apply px-4 cursor-pointer ;
  }
  .mobile-menu{
    @apply py-2 my-4 text-4xl cursor-pointer hover:first-letter:font-semibold transition-all;
  }
  /* these 2 are the default behaviour, else is hidden */
  .sticky-left{
    @apply flex fixed flex-col top-[35%] left-0
  }
  .horizontal-slide{
    @apply w-[160px] h-[50px] flex p-4  ml-[-100px] hover:ml-[-10px] duration-300 rounded;
  }
  /* next 2 should define behaviour for sm screen with top sliding and rotate */
  .sticky-top{
    @apply flex fixed top-0 left-[30%] rotate-90
  }
  .vertical-slide{
    @apply p-10
  }
  .skill-tile{
	@apply m-2 bg-gray-500 bg-opacity-5 rounded-sm text-[#e0fbfc] text-xl leading-10 flex flex-col justify-evenly items-center p-2 w-[200px] h-[250px] scale-75 md:scale-100 transition-all shadow-lg hover:shadow-gray-700 hover:scale-110 duration-500
  }
}


@layer utilities {
	/* hides scrollbars keeping scroll function */
		/* Chrome, Safari and Opera */
		.no-scrollbar::-webkit-scrollbar {
			display: none;
		}

		.no-scrollbar {
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none; /* Firefox */
		}

		/* scrollbar styling for Chrome Safari and Opera */
		/* width */
		.scrollable::-webkit-scrollbar,
		html::-webkit-scrollbar {
			width: 6px;
			height: 6px;
		}

		/* Track */
		.scrollable::-webkit-scrollbar-track,
		html::-webkit-scrollbar-track {
			background: rgba(0, 0, 0, 0.12);
			border-radius: 10px;
		}

		/* Handle */
		.scrollable::-webkit-scrollbar-thumb,
		html::-webkit-scrollbar-thumb {
			background: rgba(0, 0, 0, 0.252);
			border-radius: 10px;
		}

		/* Handle on hover */
		.scrollable::-webkit-scrollbar-thumb:hover,
		html::-webkit-scrollbar-thumb:hover {
			background: rgba(0, 0, 0, 0.4);
			opacity: 0.3;
		}

		/* Firefox only has limited customization for just width and color*/
		.scrollable,
		html {
			scrollbar-width: 13px;
			/* firefox scrollbar-color : <color thumb> <color track> */
			scrollbar-color: rgba(13, 148, 136, 0.3) rgba(104, 168, 163, 0.2);
		}

}